.main {
    background-color: red;
}
.sub-child1 {
    display: inline-block;

}

.sub-child2 {
    display: inline-block;

}

.sub-sub-child3 {
    display: inline-block;
}

.sub-sub-child4 {
    display: inline-block;
}

.sub-child5 {
    display: inline-block;

}

.sub-child6 {
    display: inline-block;

}