.main-heading {
    background-color: rgb(51, 50, 50);
    padding: 1.5rem 0rem 5px 0rem;
    margin-bottom: 2rem;
}

.logo-part {
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
}

.logo {
    height: 1.8rem
}

.search-box {
    width: 15rem;
    background-color: rgb(51, 50, 50);
    border: 1px solid white;
}

.main-nav-list {
    display: flex;
    justify-content: space-around;
    padding-left: 5rem;
}

.main-nav-item {
    list-style-type: none;
    color: white;
}
.main {
    background-color:white;
    width: 100%;
    height: 600px;
}


.view {
    float: left;
    width:10%;
    height: 600px;
    background-color: white;
}

.view1 {
    float: left;
    width: 100%;
    height: 140px;
}

.img1 {
    width: 100%;
    height: 130px;
    padding-top: 10px;
    margin: 10px 0 10px 0px;
}

.img1:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.view2 {
    float: left;
    width: 100%;
    height: 140px;
    background-color: white;
}

.img2 {
    width: 100%;
    height: 140px;
    margin: 10px 0 5px 0px;
}

.img2:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.view3 {
    float: left;
    width: 100%;
    height: 140px;
    background-color: white;
}

.img3 {
    width: 100%;
    height: 140px;
    margin: 10px 0 5px 0px;
}

.img3:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.view4 {
    float: left;
    width: 100%;
    height: 140px;
    background-color: white;
}

.img4 {
    width: 100%;
    height: 140px;
    margin: 10px 0 5px 0px;
}

.img4:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.zoom {
    float: left;
    width: 40%;
    height:600px;
    margin: 0px 5px 5px 10px;
    background-color: white;
}

.zoom1 {
    width: 100%;
    height: 450px;
    padding-top: 10px;
}

.details {
    float: left;
    width: 40%;
    height: 600px;
    background-color: white;
}

.head1 {
    float: left;
    width: 100%;
    height: 60px;
    background-color: white;
}

.head2 {
    float: left;
    width: 80%;
    margin: 2px;
    font: 18px GerTT;
    font-weight: bold;
    color: #212529;
}

.name {
    float: left;
    width: 60%;
    height: 30px;
    background-color: white;
}

.price-range {
    text-align: right;
    float: left;
    width: 40%;
    height: 30px;
    background-color:white;
}

.price {
    float: left;
    width: 100%;
    height: 40px;
    font-weight: bold;
    background-color: white;
}

.about {
    float: left;
    width: 100%;
    height: 100px;
    background-color: white;
    margin: 0px;
    line-height: 1.5rem;
}

.reco {
    float: left;
    width: 100%;
    height: 20px;
    background-color:rgb(51, 50, 50);
    color: white;
    margin-bottom: 10px;
}


.vsize {
    float: left;
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
    line-height: 50px;
}

.size {
    float: left;
    width: 8%;
    height: 40px;
    border: solid;
    border-color: black;
    border-width: 0.1rem;
    margin-right: 10px;
    line-height: 40px;
}


.guide {
    float: left;
    width: 100%;
    height: 20px;
    font-size: small;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.checkpin {
    float: left;
    width: 100%;
    height: 50px;
    font-weight: bold;
}

.pin {
    float: left;
    width: 45%;
    height: 45px;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
}

.check {
    float: left;
    width: 45%;
    height: 51px;
    margin-top: 5px;
    text-align: center;
    background-color: rgb(51, 50, 50);
    color: white;
    transition: all 0.3s;
}

.check:link,
.check:visited {
    background-color: rgb(51, 50, 50);
    color: white;
}

.check:hover,
.check:active {
    color:rgb(51, 50, 50) ;
    background-color: white;
    border: solid;
    border-color:rgb(51, 50, 50);
    border-width: 0.1rem;
    transition: all 0.3s;
}
.atc {
    float: left;
    width: 30%;
    height: 40px;
    text-align: center;
    margin-top: 15px;
    margin-right: 5px;
    background-color: rgb(51, 50, 50);
    color: white;
    line-height: 40px;
    text-decoration: none;
}

.atc:link,
.atc:visited {
    background-color: rgb(51, 50, 50);
    color: white;
}

.atc:hover,
.atc:active {
    color:rgb(51, 50, 50) ;
    background-color: white;
    border: solid;
    border-color:rgb(51, 50, 50);
    border-width: 0.1rem;
    transition: all 0.3s;
    
}

.bn {
    float: left;
    width: 30%;
    height: 40px;
    text-align: center;
    margin-top: 15px;
    margin-right: 5px;
    background-color: rgb(51, 50, 50);
    color: white;
    line-height: 40px;
    text-decoration: none;
}

.bn:link,
.bn:visited {
    background-color: rgb(51, 50, 50);
    color: white;
}

.bn:hover,
.bn:active {
    color:rgb(51, 50, 50) ;
    background-color: white;
    border: solid;
    border-color:rgb(51, 50, 50);
    border-width: 0.1rem;
    transition: 0.3s;
}

.atwl {
    float: left;
    width: 30%;
    height: 40px;
    text-align: center;
    margin-top: 15px;
    background-color: rgb(51, 50, 50);
    color: white;
    line-height: 40px;
    text-decoration: none;
}

.atwl:link,
.atwl:visited {
    background-color: rgb(51, 50, 50);
    color: white;
}

.atwl:hover,
.atwl:active {
    color:rgb(51, 50, 50) ;
    background-color: white;
    border: solid;
    border-color:rgb(51, 50, 50);
    border-width: 0.1rem;
    transition: all 0.3s;
}

.btns:link,
.btns:visited {
    text-decoration: none;
    color: white;
}

.btns:hover,
.btns:active {
    text-decoration: none;
    color: rgb(51, 50, 50);
}

.footer {
    background-color:rgb(51, 50, 50) ;
    padding: 40px 35px;
    height: 250px;
}

.footer1 {
    float: left ;
    width: 68%;
    display: inline-block;
    margin: 0;
}

.support {
    display: inline-block;
    color: white;
    margin-right: 150px;

}
.support span {
    font-size: 1.5rem;
    padding-left: 40px;
}

.footer-list-item {
    list-style-type: none;
    margin-bottom: 0.5rem;
}

.footer-link {
    text-decoration: none;
    color: white;
}

.discover {
    display: inline-block;
    color: white;
    margin-bottom: 5px;
    vertical-align: top;
}

.discover span {
    font-size: 1.5rem;
    padding-left: 40px;
}

.footer-list2 {
    margin-bottom: 50px;
}

.footer2 {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding: 0;
}

.title {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.email {
   height: 1.5rem;
   color: black;
}

.sub {
    height: 2rem;
    background-color: grey;
    color: white;
    border-left-width: 0px;
}